@model IEnumerable<VicLyfe.Models.User_Current_Location>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Filter_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Filter_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Filter_3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Filter_4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Filter_5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Filter_6)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Longitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filter_1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filter_2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filter_3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filter_4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filter_5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Filter_6)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Time }) |
            @Html.ActionLink("Details", "Details", new { id=item.Time }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Time })
        </td>
    </tr>
}

</table>
