@model VicLyfe.Models.Region

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Region</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Region_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Region_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Suburb_name }) |
    @Html.ActionLink("Back to List", "Index")
</p>
